@media screen and (max-width: 1400px) {
  .site-image {
    display: none;
  }
}
  
@media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }
    .site-image {
      display: none;
    }
}

@media screen and (max-width: 375px) {
  .desktop-site-image {
    display: none;
  }
  .site-image {
    display: block;  
    width: 375px;
    height: auto;
  }
}