 @media screen and (max-width: 768px) {
  .desktop-site-image {
    display: none;
  }

  #desktop-nav {
    display: none;
  }
  .body-container {
    flex-direction: column-reverse;
  }

  #hamburger-nav {
    display: flex;
  }

  .text-header {
    margin-top: 3rem;
    font-size: 3rem;
    font-weight: 700;
  }
  .site-image {
    display: block;  
    width: 100%;
    height: auto;
  }
  .section-btn {
    display: block;
    justify-content: center;
  }

  .footer-container {
    display: block;
    width:100%;
    margin-right: 2rem;
  }
}

@media screen and (max-width:375px) {
  .site-image {
    width: 375px;
    margin-left: 0.3rem;
  }
  .text-header{
    font-size: 0.7rem;
    font: 700;
    display: flex;
    gap: 0.1rem;
    margin-top: 0;
  }

  .section-text {
    margin-top: 1.2rem;
    justify-content: center;
  }

  .section-btn {
    margin-top: 0.5rem;
  }
  .footer-container {
    display: flex;
    gap: 0.5rem;
  }

}