 @media screen and (max-width: 768px) {
  .desktop-site-image {
    display: none;
  }

  #desktop-nav {
    display: none;
  }
  .body-container {
    flex-direction: column-reverse;
  }

  #hamburger-nav {
    display: flex;
  }

  .text-header {
    margin-top: 3rem;
    font-size: 3rem;
    font-weight: 700;
  }
  .site-image {
    display: block;  
    width: 100%;
    height: auto;
  }
  .section-btn {
    display: block;
    justify-content: center;
  }

  .footer-container {
    display: block;
  }
}

@media screen and (max-width:375px) {
  
}